<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página não encontrada</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body class="page-404">
    <h1>404 - Página não encontrada</h1>
    <p>Desculpe, o post que você está procurando não existe.</p>
    <a href="{{ url_for('home') }}">Voltar para a página inicial</a>
</body>
</html>
