{% extends 'base.html' %}
{% block body %}

<div class="container mt-5 d-flex justify-content-center">
    <div class="card_my p-3">
        <div class="d-flex align-items-center">
            <div class="image pe-5">
                <img src="{{ photo_profile }}" class="rounded" width="200">
            </div>
            <div class="ml-4 w-100">
                <h4 class="mb-2 mt-0">{{current_user.username }}</h4>
                <span>{{current_user.email }}</span>
                <div class="p-1 mt-2 bg-primary d-flex justify-content-between rounded text-white stats">
                    {% if 'Não informado' in current_user.courses%}

                    <div class="d-flex flex-column">
                        <span class="articles">Cursos</span>
                        <span class="number1">0</span>
                    </div>
                    {% else %}
                    <div class="d-flex flex-column">
                        <span class="articles">Cursos</span>
                        <span class="number1">{{ current_user.courses.count(';') + 1 }}</span>
                    </div>

                    {% endif %}

                    <div class="d-flex flex-column">
                        <span class="rating">Posts</span>
                        <span class="number3">{{current_user.count_pots()}}</span>
                    </div>
                </div>
                <div class="button mt-2 d-flex flex-row align-items-center">
                    <a class="w-100" href="{{ url_for('edit_profile')}}">
                        <button class="btn btn-sm btn-outline-primary w-100">Editar perfil</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col col-4" style="text-align: center;">
        <strong>Cursos</strong><br>
        {% for course in current_user.courses.split(';')%}
          <button type="button" class="btn btn-success  mt-2" disabled> {{ course}}</button>
        {% endfor %}
    </div>
</div>


{% block form_editar_perfil %}
{% endblock form_editar_perfil %}
{% endblock body %}